.mainContainer {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.forgotPassword {
    background-color: aqua;
    width: 600px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}


.resetForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#resetEmailInput {
    margin-bottom: 10px;
}