.mainContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f5f5f5;
    font-family: 'Inter', sans-serif;
}


.forgotPassword {
    width: 600px;
    height: 457px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
  
}

.forgotPassword h2 {
    font-size: 50px;
}

.forgotPassword span {
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
}
#resetEmailInput {
    width: 350px;
    border: 1px solid #ccc;
    height: 45px;
    padding-left: 15px;
    border-radius: 9px;
    padding-right: 55px;
    font-size: 21px;
    outline: none;
    background-image: url("../assets/img/mail-icon.png");
    background-position: calc(100% - 18px);
    background-repeat: no-repeat;
    margin-bottom: 35px;
    
}

.forgotPassword button {
    background-color: #2A3647;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 13px 30px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 35px;
}

.forgotPassword button:hover {
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: background 225ms ease-in-out;
}

.forgotPassword img {
    
    margin-bottom: 25px;
}


.resetForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.resetFormPW {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.resetFormPW input {
    width: 350px;
    border: 1px solid #ccc;
    height: 45px;
    padding-left: 15px;
    border-radius: 9px;
    padding-right: 55px;
    font-size: 21px;
    outline: none;
    margin-bottom: 27px;
}

#resetEmailInput {
    margin-bottom: 10px;
    background: url("../assets/img/mail-32.png") no-repeat 300px;
}

#back-arrow {
    position: relative;
    left: -263px;
    top: 19px;
}

#back-arrowReset {
    
    position: relative;
    left: -261px;
    top: 49px;
    
}

@media (max-width: 850px){
    .forgotPassword {
        width: 560px;
    }

    .forgotPassword h2 {
        font-size: 30px;
    }

    .forgotPassword span {
        font-size: 17px;
        margin-bottom: 30px;
        text-align: center;
        padding-right: 15px;
        padding-left: 15px;
    }

    #resetEmailInput {
        width: 276px;
        border: 1px solid #ccc;
        height: 45px;
        padding-left: 15px;
        border-radius: 9px;
        padding-right: 55px;
        font-size: 21px;
        outline: none;
    }

    #resetEmailInput {
        margin-bottom: 10px;
        background: url(../assets/img/mail-32.png) no-repeat 226px;
    }

    .forgotPassword button {
        background-color: #2A3647;
        color: #fff;
        border: none;
        border-radius: 10px;
        padding: 13px 30px;
        cursor: pointer;
        font-size: 18px;
        font-family: 'Inter', sans-serif;
        margin-top: 20px;
    }

    #back-arrow {
        position: relative;
        left: -231px;
        top: -17px;
    }
    
    #back-arrowReset {
        position: relative;
        left: -237px;
        top: -3px;
    }

}

@media (max-width: 600px) {
    .forgotPassword {
        width: 305px;
        height: 442px;
    }

    .forgotPassword h2 {
        font-size: 20px;
    }

    .forgotPassword span {
        font-size: 13px;
        margin-bottom: 30px;
        text-align: center;
        padding-right: 15px;
        padding-left: 15px;
    }

    #back-arrow {
        position: relative;
        left: -116px;
        top: -35px;
    }

    .signup {
        margin-left: unset;
    }

    .remember-me, input {
        margin-right: unset;
    }

    .resetFormPW input {
        width: 260px;
    }

    #back-arrowReset {
    position: relative;
    left: -119px;
    top: -3px;
}

    
}