.contacts-outer-div {
    display: flex;
    height: calc(100vh - 91px);
    overflow: auto;
    margin-left: 225px;
    margin-top: 91px;
}

.contacts-slide-bar {
    padding-left: 65px;
    padding-right: 65px;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
    background-color: white;
    width: 490px;
    overflow: auto;
}

.contacts-slide-bar::-webkit-scrollbar {
    width: 6px;
}

.contacts-slide-bar::-webkit-scrollbar-track {
    background: white;

}

.contacts-slide-bar::-webkit-scrollbar-thumb {

    background-color: #A8A8A8;
    border-radius: 10px;

}

/* Buttons */
.contacts-slide-bar::-webkit-scrollbar-button:single-button {
    display: block;
    background-size: 10px;
    background-repeat: no-repeat;
}

/* Up */
.contacts-slide-bar::-webkit-scrollbar-button:single-button:vertical:decrement {
    cursor: pointer;
    height: 12px;
    width: 16px;
    background-position: center 7px;
    background-image: url(img/scroll-arrow-up.svg);
}

/* Down */
.contacts-slide-bar::-webkit-scrollbar-button:single-button:vertical:increment {
    height: 12px;
    width: 16px;
    background-position: center 2px;
    background-image: url(img/scroll-arrow-down.svg);
}

.contacts-right-div {
    position: relative;
    padding-left: 60px;
    padding-top: 80px;
    flex: 1;
}

.contacts-head {
    display: flex;
    align-items: center;
}

.contacts-head h1 {
    margin: 0px;
    font-size: 70px;
}

.contacts-head span {
    font-size: 27px;
}

.contacts-bar-img {
    margin-right: 30px;
    margin-left: 30px;
}

.contacts-big-card {
    margin-top: 80px;
}

.contact-initials-big {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border: 4px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 2px rgba(188, 188, 188, 0.496);
}

.contact-initials-small {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px rgba(188, 188, 188, 0.496);
}

.contact-initials-big span {
    color: white;
    font-weight: 500;
    font-size: 47px;

}

.big-card-head {
    display: flex;
    align-items: center;
}

.big-card-name-div {
    display: flex;
    flex-direction: column;
    margin-left: 55px;
}

.big-card-name {
    font-weight: 500;
    font-size: 47px;
}

.big-card-add-task {
    margin-top: 10px;
    display: flex;
    align-items: center;
    color: #29ABE2;
    font-size: 17px;
}

.big-card-add-task span {
    margin-left: 15px;
}

.big-card-plus-img {
    width: 15px;
}

.big-card-info {
    display: flex;
    align-items: center;
    margin-top: 45px;
}

.big-card-info span:nth-child(1) {
    font-size: 21px;
}

.edit-contact {
    cursor: pointer;
    display: flex;
    align-items: baseline;
    margin-left: 60px;
}

.pencil-img {
    width: 30px;
    height: 30px;
    background-image: url(img/pencil.svg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.big-card-mail-phone {
    margin-top: 43px;
}

.big-card-mail-phone:nth-child(4) {
    font-weight: 700;
}

.mail-phone {
    margin-bottom: 22px;
}

.mail-phone span:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    margin-bottom: 15px;
}

.cards-div-main {
    display: flex;
    flex-direction: column;
}

.cards-div-letter {
    display: flex;
    padding: 20px 25px;
    border-bottom: 2px solid #D1D1D1;
    font-size: 21px;
    margin-bottom: 5px;
}

.contact-card {
    cursor: pointer;
    display: flex;
    padding: 15px 25px;
}

.contact-card:hover {
    background: #2A3647;
    border-radius: 10px;
    color: white;
}

.contact-card-info {
    margin-left: 35px;
}

.contact-card-info div {
    margin-bottom: 5px;
    font-size: 21px;
}

.contact-created-message {
    position: absolute;
    bottom: -75px;
    left: 65px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    color: white;
    font-size: 21px;
    width: 326px;
    height: 74px;

    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.slide-up {
    -webkit-animation: slide-up 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-up 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-up {
    0% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }

    100% {
        -webkit-transform: translateY(-250%);
        transform: translateY(-250%);
    }
}

@keyframes slide-up {
    0% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }

    100% {
        -webkit-transform: translateY(-250%);
        transform: translateY(-250%);
    }
}

.slide-down {
    -webkit-animation: slide-down 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-down 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-down {
    0% {
        -webkit-transform: translateY(-250%);
        transform: translateY(-250%);
    }

    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@keyframes slide-down {
    0% {
        -webkit-transform: translateY(-250%);
        transform: translateY(-250%);
    }

    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

.d-none {
    display: none;
}

.new-contact {
    padding: 10px 10px !important;
    position: absolute;
    right: 30px;
    bottom: 60px;
}

@media(max-width:992px) {
    .contacts-right-div {
        display: none;
    }

    .contacts-slide-bar {
        box-shadow: 4px 0 9px -6px rgba(0, 0, 0, 0.103), -4px 0 9px -6px rgba(0, 0, 0, 0.148);
    }

    .contacts-outer-div {
        flex-direction: column;
        align-items: center;
        margin-left: 0em;
        background-color: white;
        overflow: auto;
    }
}

@media(max-width:640px) {
    .contacts-slide-bar {
        width: 20em;
        box-shadow: none;
        padding-top: 5em;
        padding-left: 0em;
        padding-right: 0em;
        overflow: visible;
    }

    .contacts-outer-div::-webkit-scrollbar {
        width: 1em;
    }

    .contacts-outer-div::-webkit-scrollbar-track {
        background: white;

    }

    .contacts-outer-div::-webkit-scrollbar-thumb {
        background-color: #A8A8A8;
        border-radius: 10px;

    }

    /* Buttons */
    .contacts-outer-div::-webkit-scrollbar-button:single-button {
        display: block;
        background-size: 10px;
        background-repeat: no-repeat;
    }

    /* Up */
    .contacts-outer-div::-webkit-scrollbar-button:single-button:vertical:decrement {
        cursor: pointer;
        height: 12px;
        width: 16px;
        background-position: center 7px;
        background-image: url(img/scroll-arrow-up.svg);
    }

    /* Down */
    .contacts-outer-div::-webkit-scrollbar-button:single-button:vertical:increment {
        height: 12px;
        width: 16px;
        background-position: center 2px;
        background-image: url(img/scroll-arrow-downouter-div);

    }
}

@media(max-width:420px) {}