.board-outer-div {
    max-width: 1260px;
    height: calc(100vh - 89px);
    overflow: auto;
    margin-top: 80px;
    margin-left: 225px;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 65px;
    padding-left: 80px;
    padding-top: 85px;
    padding-bottom: 80px;
}

.transition-125 {
    transition: all 125ms ease-in-out;
}

.kanban-mobile-span {
    display: none;
}

.board-head-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board-head-div h1 {
    font-weight: 700;
    font-size: 70px;
    line-height: 120%;
}

.board-input-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    gap: 10px;
    height: 51px;
}

.board-input {
    padding: 18px 22px;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    margin-right: 35px;
    width: 256px;
    font-size: 16px;
}

.board-input::placeholder {
    color: lightgrey;

}

.input-img {
    transition: all 125ms ease-in-out;
    cursor: pointer;
    position: absolute;
    right: 42px;
    top: 8px;
    border-left: solid 2px #e8e8e8;
    padding-left: 12px !important;
    padding: 7px;
}

.input-img:hover {
    transition: all 125ms ease-in-out;
    filter: invert(0.6);
}

.input-img-inner {
    height: 20px;
    width: 20px;
}

.add-task-btn {
    background-image: url(img/add-task-btn.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    width: 143px;
    height: 57px;
}

.add-task-btn:hover {
    background-image: url(img/add-task-btn-blue.svg);
    background-repeat: no-repeat;
}

.cards-category {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.cards-category span {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
}

.plus-btn {
    background-image: url(/img/plus-btn-default.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.plus-btn:hover {
    background-image: url(/img/plus-btn-blue.svg);
    background-repeat: no-repeat;
}

.cards-div {
    display: flex;
    padding-right: 65px;
    padding-left: 65px;
    padding-top: 30px;
}

.card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 18px 19px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    background-color: white;
    margin-bottom: 40px;
}

.card-name {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 8px;
    color: white;
    padding: 4px 25px;
    width: 103px;
    height: 27px;
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 15px;
}

.cards-column-main {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-left: 30px;
}

.card-column {
    display: flex;
    flex-direction: column;
}

.card-headline {
    font-weight: 700;
    font-size: 17px;
    line-height: 120%;
    margin-bottom: 10px;
}

.card-text {
    display: flex;
    flex-direction: column;
}

.card-text span:nth-of-type(2) {
    overflow-wrap: break-word;
    word-wrap: break-word;
    color: #A8A8A8;
    max-height: 65px;
    margin-bottom: 20px;
}

.progress-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.progress-div span {
    font-size: 12px;
}

.progress-bar {
    background: rgba(93, 93, 93, 0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 10px;
    width: 140px;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
}

.user-icons {
    position: relative;
}

.user-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid #FFFFFF;
    border-radius: 58px;
}

.user-icon span {
    font-size: 12px;
    color: white;
}

.d-flex {
    display: flex;
}

.add-task-btn-mobile {
    background-image: none;
    width: 0px;
    height: 0px;
}

.shadow-screen {
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    background-color: #b8b9ba9c;
    opacity: 0;
}

.smooth-opacity-in {
    animation-name: opacity-in;
    animation-duration: 0.7s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

@keyframes opacity-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.smooth-opacity-out {
    animation-name: opacity-out;
    animation-duration: 0.7s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

@keyframes opacity-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.center-new-task-card {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-task-card {
    transition: all 225ms ease-in-out;
    background-color: white;
    border: solid 1px lightgrey;
}

.new-task-slide-in {
    transition: all 225ms ease-in-out;
    transform: translateX(360px);
}

.slide-left {
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@keyframes slide-left {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}


.slide-right {
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }

    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}


@media(max-height:985px) {
    .center-new-task-card {
        align-items: start;
    }
}

@media(max-width:1000px) {

    .add-task-btn-mobile {
        cursor: pointer;
        background-image: url(img/add-task-btn-mobile.svg);
        background-repeat: no-repeat;
        width: 2.5em;
        height: 2.5em;
    }

    .add-task-btn-mobile:active {
        background-image: url(img/add-task-btn-mobile-blue.svg);
        background-repeat: no-repeat;

    }

    .add-task-btn {
        background-image: none;
        width: 0em;
        height: 0em;
    }

    .board {
        padding-right: 2em;
        padding-left: 2em;
    }

    .kanban-mobile-span {
        display: block;
    }

    .board-head-div {
        align-items: flex-start;
        flex-direction: column;
    }

    .board-head-div h1 {
        font-size: 3em;
    }

    .mobile-headline-div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .board-input {
        padding: 0.6em 1em;
        width: 15em;
    }

    .cards-div {
        flex-direction: column;
        align-items: center;
        padding: 0em;
    }

    .cards-column-main {
        width: 24em;
    }

    .cards-category {
        margin-bottom: 1em;
    }

    .card {
        margin-bottom: 1.2em;
    }
}