.contacts-outer-div {
    display: flex;
    height: calc(100vh - 89px);
    overflow: auto;
}

.contacts-slide-bar {
    padding-left: 65px;
    padding-right: 65px;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
    background-color: white;
    width: 453px;
    overflow: auto;
}

.contacts-right-div {
    padding-left: 60px;
    padding-top: 80px;
}

.contacts-head {
    display: flex;
    align-items: center;
}

.contacts-head h1 {
    margin: 0px;
    font-size: 70px;
}

.contacts-head span {
    font-size: 27px;
}

.contacts-bar-img {
    margin-right: 30px;
    margin-left: 30px;
}

.contacts-big-card {
    margin-top: 80px;
}

.contact-initials-big {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background-color: #FF7A00;
    border: 4px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 2px rgba(188, 188, 188, 0.496);
}

.contact-initials-small {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background-color: #FF7A00;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px rgba(188, 188, 188, 0.496);
}

.contact-initials-big span {
    color: white;
    font-weight: 500;
    font-size: 47px;

}

.big-card-head {
    display: flex;
    align-items: center;
}

.big-card-name-div {
    display: flex;
    flex-direction: column;
    margin-left: 55px;
}

.big-card-name-div span:nth-child(1) {
    font-weight: 500;
    font-size: 47px;
}

.big-card-add-task {
    margin-top: 10px;
    display: flex;
    align-items: center;
    color: #29ABE2;
    font-size: 17px;
}

.big-card-add-task span {
    margin-left: 15px;
}

.big-card-plus-img {
    width: 15px;
}

.big-card-info {
    display: flex;
    align-items: center;
    margin-top: 45px;
}

.big-card-info span:nth-child(1) {
    font-size: 21px;
}

.edit-contact {
    cursor: pointer;
    display: flex;
    align-items: baseline;
    margin-left: 60px;
}

.pencil-img {
    width: 30px;
    height: 30px;
    background-image: url(img/pencil.svg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.big-card-mail-phone {
    margin-top: 43px;
}

.big-card-mail-phone:nth-child(4) {
    font-weight: 700;
}

.mail-phone {
    margin-bottom: 22px;
}

.mail-phone span:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    margin-bottom: 15px;
}

.cards-div-main {
    display: flex;
    flex-direction: column;
}

.cards-div-letter {
    display: flex;
    padding: 15px 25px;
    border-bottom: 2px solid lightgrey;
    font-size: 21px;
}

.contact-card {
    display: flex;
    padding: 15px 25px;
}

.contact-card-info {
    margin-left: 35px;
}

.contact-card-info div {
    margin-bottom: 5px;
    font-size: 21px;
}

.d-none {
    display: none;
}

.new-contact{
    padding: 10px 10px !important;
}