.maincontainer-SignUp {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

#joinLogo-SignUp {
    position: absolute;
    left: 80px;
    top: 53px;
    width: 100px;
}

.maincontainer-SignUp h1 {

    font-size: 60px;
}

.signUp-container {
    font-family: 'Inter', sans-serif;
    background-color: #FFFFFF;
    width: 652px;
    /*height: 559px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 35px 0px 35px 0px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
}

#backArrowSignUp {
    position: relative;
    left: -280px;
}

#backArrowSignUp:hover {
    cursor: pointer;
}

.signUp-container input {
    width: 350px;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 9px;
    padding-left: 15px;
    font-size: 21px;
    padding-right: 55px;
    margin: 20px;
    outline: none;
}

.signUp-container button {
    background-color: #2A3647;
    border: none;
    color: #fff;
    padding: 13px 30px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    margin-top: 30px;
}

.signUp-container button:hover {
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: background 225ms ease-in-out;
}

.SignUpCredentials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;

}


@media (max-width: 1100px) {
    .signUp-container {
        width: 450px;
    }
    #backArrowSignUp {
        position: relative;
        left: -180px;
    }
    .maincontainer-SignUp h1 {
        font-size: 40px;
    }

    #joinLogo-SignUp {
        width: 60px;
        top: 53px;
    }
    #join-logo {
        position: absolute;
        left: 50%;
        top: 30%;
        width: 60px;
    }
}

@media (max-width: 700px) {
    #joinLogo-SignUp {
        top: 53px;
    }

    .signUp-container {
        width: 380px;
        height: 500px;
    }

    #backArrowSignUp {
        position: relative;
        left: -144px;
        top: 48px;
    }

    .signUp-container button {
        margin-bottom: 15px;
        margin-top: unset;
    }

    
}

@media (max-width: 600px){
    .signup {
        bottom: 67px;
        top: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        right: unset;
        margin-left: 71px;
        position: absolute;
    }
}

@media (max-width: 500px) {
    .signUp-container button {
        margin-top: unset;
    }

    #joinLogo-SignUp {
        width: 35px;
        top: 14px;
        left: 32px;
    }

    #join-logo {
        position: absolute;
        left: 50%;
        top: 30%;
        width: 35px;
    }

    .signup {
        bottom: 67px;
        top: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        right: unset;
        margin-left: 71px;
        position: absolute;
    }
}