/* === Header === */
header {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 89px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 20px 36px 20px 348px;
}

.header-heading {
    font-size: 21px;
}

.header-mobile-logo {
    display: none;
}

.icons-header {
    display: flex;
    align-items: center;
    gap: 26px;
    cursor: pointer;
}

.icons-header>img {
    height: 51px;
    border-radius: 100%;
    border: 3px solid #2A3647;
}

.mobile-menu, .logout-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background-color: #2A3647;
    padding: 18px 18px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px 0px 20px 20px;
    position: absolute;
    top: 90px;
    right: 40px;
    gap: 5px;
    opacity: 0;
    transition: opacity 220ms ease;
    /*von Pierre, damit logout btn auf addTask und Contacts, anklickbar ist.*/
    z-index: 1;
}

.mobile-menu>a, .logout-btn>a {
    color: #CDCDCD;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.show {
    opacity: 1;
    transition: opacity 220ms ease;
}

.hide {
    opacity: 0;
    transition: opacity 220ms ease;
}


@media (max-width: 992px) {
    header {
        padding: 20px 36px 20px 116px;
    }

    .mobile-menu, .logout-btn{
        right: 10px;
    }
}

@media (max-width: 820px) {
    .header-heading>span {
        display: none;
    }

    .header-mobile-logo {
        display: block;
    }

    header {
        justify-content: space-between;
        padding: 20px 33px 20px 33px;
    }

    .icons-header>a {
        display: none;
    }
}