.contacts-outer-div {
    position: relative;
    display: flex;
    height: calc(100vh - 91px);
    margin-left: 225px;
    margin-top: 91px;
    overflow: hidden;
}

.slide-bar-scroll {
    overflow-y: auto;
    overflow-x: hidden;
}

.contacts-slide-bar {
    padding-left: 65px;
    padding-right: 65px;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
    background-color: white;
    width: 490px;
    overflow-y: auto;
    overflow-x: hidden;
}

.slide-bar-scroll::-webkit-scrollbar {
    width: 6px;
    display: block;
}

.slide-bar-scroll::-webkit-scrollbar-track {
    background: white;

}

.slide-bar-scroll::-webkit-scrollbar-thumb {
    background-color: #A8A8A8;
    border-radius: 10px;

}

/* Buttons */
.slide-bar-scroll::-webkit-scrollbar-button:single-button {
    display: block;
    background-size: 10px;
    background-repeat: no-repeat;
}

/* Up */
.slide-bar-scroll::-webkit-scrollbar-button:single-button:vertical:decrement {
    cursor: pointer;
    height: 12px;
    width: 16px;
    background-position: center 0px;
    background-image: url(../img/scroll-arrow-up.svg);
}

/* Down */
.slide-bar-scroll::-webkit-scrollbar-button:single-button:vertical:increment {
    height: 12px;
    width: 16px;
    background-position: center 2px;
    background-image: url(../img/scroll-arrow-down.svg);
}

.contacts-right-div {
    overflow: auto;
    position: relative;
    padding-left: 60px;
    padding-top: 80px;
    flex: 1;
}

.contacts-head {
    display: flex;
    align-items: center;
}

.contacts-head h1 {
    margin: 0px;
    font-size: 70px;
}

.contacts-head span {
    font-size: 27px;
}

.contacts-bar-img {
    margin-right: 30px;
    margin-left: 30px;
}

.contacts-big-card {
    margin-top: 80px;
}

.contact-initials-big {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border: 4px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 2px rgba(188, 188, 188, 0.496);
}

.contact-initials-small {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 42px;
    height: 42px;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px rgba(188, 188, 188, 0.496);
}

.contact-initials-big span {
    color: white;
    font-weight: 500;
    font-size: 47px;

}

.big-card-head {
    display: flex;
    align-items: center;
}

.big-card-name-div {
    display: flex;
    flex-direction: column;
    margin-left: 55px;
}

.big-card-name-div span:nth-last-of-type(1) {
    margin-left: 10px;
}

.big-card-name {
    font-weight: 500;
    font-size: 47px;
}

.big-card-add-task {
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    align-items: center;
    color: #29ABE2;
    font-size: 17px;
}

.big-card-add-task span {
    margin-left: 15px;
}

.big-card-plus-img {
    width: 15px;
}

.big-card-info {
    display: flex;
    align-items: center;
    margin-top: 45px;
}

.big-card-info span:nth-child(1) {
    font-size: 21px;
}

.edit-contact {
    cursor: pointer;
    display: flex;
    align-items: baseline;
    margin-left: 60px;
}

.pencil-img {
    width: 30px;
    height: 30px;
    background-image: url(../img/pencil.svg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.big-card-mail-phone {
    margin-top: 43px;
}

.big-card-mail-phone a {
    color: #007CEE;
}

.big-card-mail-phone:nth-child(4) {
    font-weight: 700;
}

.mail-phone {
    margin-bottom: 22px;
}

.mail-phone span:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.cards-div-main {
    display: flex;
    flex-direction: column;
}

.cards-div-letter {
    display: flex;
    padding: 20px 25px;
    border-bottom: 2px solid #D1D1D1;
    font-size: 21px;
    margin-bottom: 5px;
}

.contact-card {
    cursor: pointer;
    display: flex;
    padding: 15px 25px;
}

.contact-card-target {
    background: #2A3647;
    border-radius: 10px;
    color: white;
}

.contact-card-info {
    margin-left: 35px;
    overflow: hidden;
}

.contact-card-info div {
    margin-bottom: 5px;
    font-size: 21px;
}

.contact-card a {
    color: #007CEE;
}

.contact-created-message {
    position: absolute;
    bottom: -75px;
    left: 530px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    color: white;
    font-size: 21px;
    width: 326px;
    height: 74px;

    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.slide-up {
    -webkit-animation: slide-up 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-up 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-up {
    0% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }

    100% {
        -webkit-transform: translateY(-250%);
        transform: translateY(-250%);
    }
}

@keyframes slide-up {
    0% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }

    100% {
        -webkit-transform: translateY(-250%);
        transform: translateY(-250%);
    }
}

.slide-down {
    -webkit-animation: slide-down 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-down 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-down {
    0% {
        -webkit-transform: translateY(-250%);
        transform: translateY(-250%);
    }

    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@keyframes slide-down {
    0% {
        -webkit-transform: translateY(-250%);
        transform: translateY(-250%);
    }

    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}


.center-new-task-card {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-task-card {
    transition: all 225ms ease-in-out;
    background-color: white;
    border: solid 1px lightgrey;
}

.new-task-slide-in {
    transition: all 225ms ease-in-out;
    transform: translateX(360px);
}

.d-none {
    display: none;
}

.new-contact {
    padding: 10px 10px !important;
    position: absolute;
    right: 30px;
    bottom: 60px;
}

.overflow-auto {
    overflow: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.mobile-button-div {
    display: none;
}

.new-contact-mobile {
    display: none;
}

.kanban-mobile-span {
    display: none;
}

.mobile-blue-bar {
    display: none;
}

.mobile-arrow-left {
    display: none;
}