/* === general settings === */

body {
    margin: 0;
    background-color: #f5f5f5;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

.body2 {
    display: flex;
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* universal-classes */
.screenreader {
    display: none;
}

/*=== colors ===*/
/* 
DUNKELBLAU: #2A3647
HELLBALU: #29ABE2
ORANGE: #FF3D00
HELLGRAU (BACKGROUND): #F5F5F5 

*/


/* buttons */


/* centers overlay */
.general-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* shadowscreen settings for all overlays */

.shadow-screen {
    z-index: 3;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #b8b9ba9c;
    opacity: 0;
}

.smooth-opacity-in {
    animation-name: opacity-in;
    animation-duration: 0.7s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

@keyframes opacity-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.smooth-opacity-out {
    animation-name: opacity-out;
    animation-duration: 0.7s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

@keyframes opacity-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.slide-left {
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@keyframes slide-left {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

.slide-right {
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }

    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}



/* === General Setting for MAIN CONTENT === */
.main {
    padding: 172px 116px 0 348px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: auto;
}

.main-container h1 {
    font-size: 61px;
    font-weight: bold;
    margin: 0;
}

.main-container h2 {
    font-size: 27px;
    font-weight: bold;
}

@media (max-width: 992px) {
    .body2 {
        flex-direction: column-reverse;
        justify-content: center;
        min-height: 100vh;
    }

    .main {
        padding: 90px 116px 90px 116px;
    }
}

@media (max-width: 820px) {
    .main {
        padding: 90px 70px 90px 70px;

    }
}

@media (max-width: 700px) {
    .main {
        padding: 90px 33px 90px 33px;

    }
}