.ovflow-hidden {
    overflow: hidden;
}

.cards-slide-div {
    overflow: auto;
    height: calc(100vh - 257px);
}

.slide-board-scroll::-webkit-scrollbar {
    width: 6px;
    height: 7px;
    display: block;
}

.slide-board-scroll::-webkit-scrollbar-thumb {
    background-color: #A8A8A8;
    border-radius: 10px;
}

/* Buttons */
.contacts-outer-div::-webkit-scrollbar-button:single-button {
    display: block;

    background-repeat: no-repeat;
}

/* Up */
.slide-board-scroll::-webkit-scrollbar-button:single-button:vertical:decrement {
    cursor: pointer;
    height: 15px;

    background-repeat: no-repeat;
    background-position: center 7px;
    background-image: url(../assets/img/scroll-arrow-up.svg);
}

/* Down */
.slide-board-scroll::-webkit-scrollbar-button:single-button:vertical:increment {
    height: 15px;

    background-repeat: no-repeat;
    background-position: center 2px;
    background-image: url(../assets/img/scroll-arrow-down.svg);
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 65px;
    padding-bottom: 30px;
    max-width: 1140px;
}

.transition-125 {
    transition: all 125ms ease-in-out;
}

.kanban-mobile-span {
    display: none;
}

.board-head-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board-head-div h1 {
    font-weight: 700;
    font-size: 70px;
    line-height: 120%;
    margin: 0;
}

.board-input-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    gap: 10px;
    height: 62px;
}

.board-input {
    padding: 18px 22px;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    margin-right: 35px;
    width: 256px;
    font-size: 16px;
}

.board-input::placeholder {
    color: lightgrey;

}

.input-img {
    transition: all 125ms ease-in-out;
    cursor: pointer;
    position: absolute;
    right: 42px;
    top: 14px;
    border-left: solid 2px #e8e8e8;
    padding-left: 12px !important;
    padding: 7px;
}

.input-img:hover {
    transition: all 125ms ease-in-out;
    filter: invert(0.6);
}

.input-img-inner {
    height: 20px;
    width: 20px;
}

.add-task-btn {
    background-image: url(../assets/img/add-task-btn.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    width: 143px;
    height: 57px;
}

.add-task-btn:hover {
    background-image: url(../assets/img/add-task-btn-blue.svg);
    background-repeat: no-repeat;
}

.cards-category {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.cards-category span {
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
}

.plus-btn {
    background-image: url(../assets/img/plus-btn-default.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.plus-btn:hover {
    background-image: url(../assets/img/plus-btn-blue.svg);
    background-repeat: no-repeat;
}

.cards-div {
    display: flex;
    flex-wrap: wrap;
    padding-right: 20px;
    padding-top: 30px;
}

.card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 18px 19px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    background-color: white;
    margin-bottom: 35px;
}

.card-name {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 8px;
    color: white;
    padding: 4px 25px;
    width: fit-content;
    min-width: 103px;
    max-width: 130px;
    height: 27px;
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 15px;
    overflow: hidden;
}

.cards-column-main {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-left: 30px;
}

.card-column {
    display: flex;
    flex-direction: column;
    width: 240px;
}

.card-headline {
    font-weight: 700;
    font-size: 17px;
    line-height: 120%;
    margin-bottom: 10px;
}

.card-text {
    display: flex;
    flex-direction: column;
}

.card-text span:nth-of-type(2) {
    color: #A8A8A8;
    max-height: 65px;
    margin-bottom: 20px;
    overflow: hidden;
    white-space: pre-line;
}

.progress-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.progress-div span {
    font-size: 12px;
}

.progress-bar {
    background: rgba(93, 93, 93, 0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 10px;
    width: 140px;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
}

.user-icons {
    position: relative;
}

.user-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid #FFFFFF;
    border-radius: 58px;
}

.user-icon span {
    font-size: 12px;
    color: white;
}

.d-flex {
    display: flex;
    align-items: center;
}

.add-task-btn-mobile {
    background-image: none;
    width: 0px;
    height: 0px;
}

.new-task-card {
    transition: all 225ms ease-in-out;
    background-color: white;
    border: solid 1px lightgrey;
}

.new-task-slide-in {
    transition: all 225ms ease-in-out;
    transform: translateX(360px);
}

/* DETAILVIEW OF TASKS */

.detail-view {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 824px;
    max-height: 100vh;
    width: 623px;
    padding: 50px;
    font-size: 21px;
    gap: 25px;
    z-index: 4;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    overflow: auto;
    word-break: break-word;
}

.category-styling {
    font-size: 21px;
    width: fit-content;
    padding: 10px 36px;
    border-radius: 10px;
    color: white;
}

.icon-settings {
    height: 21px;
    width: 21px;
    margin-left: auto;
    cursor: pointer;
}

.detail-view-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.detail-view-btn-div {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: end;
    height: 57px;
}

.edit-task-btn {
    height: 57px;
    cursor: pointer;
}

.delete-btn-board {
    cursor: pointer;
    height: 57px;
    width: 125px;
    font-family: 'Inter';
}

.detail-view-title {
    font-size: 61px;
    font-weight: bold;
}

.subheading-styling {
    font-weight: bold;
    margin-right: 25px
}

.flex-center {
    display: flex;
    align-items: center;
}

.assignedContacts {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.assignedContacts:last-of-type {
    margin-bottom: 0;
}

.initials-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    padding: 5px;
    border-radius: 100%;
    margin-right: 30px;
    color: white;
    font-size: 16px;
}

/* === Styling of edit Card container === */
.edit-button-container {
    display: flex;
    justify-content: flex-end;
}

.edit-todo-button {
    width: 83px;
    height: 61px;
    background-image: url('../assets/img/edit_todo.svg');
}

.edit-todo-button:hover {
    cursor: pointer;
}

.title-to-edit {
    position: absolute;
    top: 45px;
    left: 21px;
    font-size: 21px;
    max-width: calc(100% - 42px);
    overflow: hidden;
}

.description-to-edit {
    position: absolute;
    top: 45px;
    left: 21px;
    font-size: 21px;
    max-width: calc(100% - 42px);
    max-height: 90px;
    overflow: hidden;
}

.date-to-edit {
    position: absolute;
    top: 45px;
    left: 21px;
    font-size: 21px;
}

.color-transparent {
    color: transparent !important;
}

.color-unset {
    color: unset !important;
}

.title-to-edit:hover, .description-to-edit:hover, .date-to-edit:hover {
    cursor: pointer;
}

.detail-view-arrow {
    display: none;
}

/* Move button as an alternative to drag & drop for mobile device */
.move-btn {
    display: none;
    margin-right: auto;
    font-size: 21px;
    padding: 15px 12px;
    font-family: 'Inter';
    font-weight: lighter;
}

.mobile-move {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: -125px;
    left: 0px;
    gap: 5px;
    background-color: #2A3647;
    padding: 18px 18px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px 20px 20px 0px;
    font-size: 16px;
}

.drop-help-div {
    width: 100%;
    height: 200px;
    border: 3px dotted lightgrey;
    border-radius: 30px;
}