/*=== Login ===*/
body {
    overflow-y: hidden;
}

.main-login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#join-logo {
    position: absolute;
    left: 50%;
    top: 30%;
    width: 100px;
    z-index: 1;
}

/* slide in Logo-Keyframe Start*/

.fade-in {
    -webkit-animation: fade-in 1s cubic-bezier(0, 0, 0.565, 1.000)1s both;
    animation: fade-in 1s cubic-bezier(0, 0, 0.565, 1.000)1s both;
}

@keyframes fade-in {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

    50% {
        left: 49%;
        top: 49%;
    }

    100% {
        left: 80px;
        top: 53px;
        ;
    }

}

/* slide in Logo-Keyframe End*/

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    padding: 30px;
}

#blue_underline {
    margin-bottom: 30px;
}

.login-container h1 {
    font-size: 60px;
}

.credentials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.credentials input {
    width: 350px;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 9px;
    padding-left: 15px;
    font-size: 21px;
    padding-right: 55px;
    margin: 10px;
    margin-bottom: 40px;
}

#login-email {
    background: url("../assets/img/mail-icon.svg") no-repeat 310px;
}

#login-password {
    background: url("../assets/img/lock-icon.svg") no-repeat 310px;

}

#name {
    background: url("../assets/img/user-icon.svg") no-repeat 310px;
}

#email {
    background: url("../assets/img/mail-icon.svg") no-repeat 310px;
}

#password {
    background: url("../assets/img/lock-icon.svg") no-repeat 310px;
}

.remember_me_forgotten {
    align-items: center;
    display: flex;
    margin-bottom: 25px;
    align-items: flex-end;
}

.remember_me {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.remember-me,
input {
    margin-right: 20px;
}

.remember-me-checkbox {
    margin-right: 10px;
}

.fade-in-login {
    -webkit-animation: fade-in-login 1.1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.5s both;
    animation: fade-in-login 1.1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.5s both;
}


@-webkit-keyframes fade-in-login {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in-login {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-out {
    -webkit-animation: fade-out 1.1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.5s both;
    animation: fade-out 1.1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.5s both;
}


@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.login_form_buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
}

.login_button {
    background-color: #2A3647;
    border: none;
    color: #fff;
    padding: 13px 30px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

.login_button:hover {
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: background 225ms ease-in-out;
}

.guest_button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 16px;
    gap: 10px;
    font-size: 18px;
    font-weight: bold;
    background: #FFFFFF;
    border: 1px solid #647188;
    border-top-color: rgb(100, 113, 136);
    border-right-color: rgb(100, 113, 136);
    border-bottom-color: rgb(100, 113, 136);
    border-left-color: rgb(100, 113, 136);
    border-radius: 10px;
    flex: none;
    cursor: pointer;
}

.remember_me_forgotten a {
    text-decoration: none;
}



.guest_button:hover {
    color: #29ABE2;
    border-color: #29ABE2;
    transition: color 225ms ease-in-out;
}

.signup {
    position: absolute;
    top: 67px;
    right: 114px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 35px;
}

.signup p {
    font-size: 25px;
}

.signup_button {
    background-color: #2A3647;
    border: none;
    color: #fff;
    padding: 16px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

.signup_button:hover {
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: background 225ms ease-in-out;
}

.resetPWackknowledge {
    background-color: #2A3647;
    border: none;
    color: #fff;
    padding: 16px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resetPW {
    background-color: #2A3647;
    border: none;
    color: #fff;
    padding: 16px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.resetMain-reset {
    display: flex;
    justify-content: center;
    align-items: center;
}


.resetMain {
    display: flex;
    justify-content: center;
    align-items: center;
}


.flighUp {
    transform: translateY(-350px);
    transition: transform 300ms ease-in-out;
}


/* HELP-PAGE */
.help-container {
    margin-right: 60px;
    font-size: 18px;
}

.help-container>h1 {
    font-size: 61px;
}

.help-container li::marker {
    font-size: 25px;
    font-weight: bold;
}

.help-container li {
    margin-bottom: 8px;
}

/*@media (max-width: 800px) {
    .help-container::before {
        content: "Kanban Project Management Tool";
        font-size: 21px;
    }
}*/

@media (max-width: 450px) {
    .help-container {
        margin-right: 10px;
    }
}


@media (max-width: 700px) {
    .login-container {
        width: 455px;
    }

    .login-container h1 {
        font-size: 38px;
    }

    .credentials input {
        width: 285px;
    }

    .login_button {
        font-size: 14px;
    }

    .guest_button {
        font-size: 14px;
    }

    .login_form_buttons {
        margin-top: 18px;
    }

    .remember_me_forgotten {
        align-items: flex-end;
        flex-direction: column;
        margin-left: -120px;
    }

    .remember_me_forgotten a {
        margin-top: 15px;
        color: #007CEE;
    }

    .remember_me {
        margin-top: 15px;
    }

    .signup {
        bottom: 60px;
        top: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        right: unset;
        margin-left: 71px;
    }

    #login-email {
        background: url(../assets/img/user-icon.svg) no-repeat 240px;
    }

    #login-password {
        background: url(../assets/img/mail-icon.svg) no-repeat 240px;
    }


}

@media (max-height:820px) and (max-width:700px) {
    .signup {
        bottom: 5px !important;
    }

    .login_form_buttons {
        margin-top: 0px !important;
    }

    .login-container {
        padding: 20px;
    }
}

@media (max-width: 500px) {

    #name {
        background: url("../assets/img/user-icon.svg") no-repeat 245px;
    }

    #email {
        background: url("../assets/img/mail-icon.svg") no-repeat 245px;
    }

    #password {
        background: url("../assets/img/lock-icon.svg") no-repeat 245px;
    }

    .login-container {
        width: 320px;
    }

    .login-container h1 {
        margin: 10px;
    }

    #blue_underline {
        margin-bottom: 10px;
    }

    .credentials input {
        margin-bottom: 10px;
    }

    .remember_me_forgotten a {
        font-size: 12px;
    }

    .remember_me_forgotten {
        display: flex;
        margin-bottom: 25px;
        align-items: flex-start;
        flex-direction: column-reverse;
        margin-left: -115px;

    }

    .signup {
        margin-left: 23px;
        bottom: -3px;
    }

    .remember_me {
        margin-top: 15px;
    }

    .password_forgotten {
        margin-top: 13px;
        font-size: 15px;
    }

    .login_form_buttons {
        margin-top: 10px;
        flex-direction: column;
    }

    .login_button {
        width: 180px;
    }

    .guest_button {
        margin-top: 15px;
        width: 180px;
    }

    .resetPWackknowledge {
        margin-top: 80px;
    }

    .signup p {
        font-size: 19px;
        margin-left: 22px;
    }

    @keyframes fade-in {

        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }

        50% {
            left: 49%;
            top: 49%;
        }

        100% {
            left: 32px;
            top: 14px;
            ;
        }
    }


}