.main-container {
    height: calc(100vh - 145px);
    overflow: auto;
    padding-right: 60px;
}

::-webkit-scrollbar {
    display: none;
}

@media(max-width: 992px) {
    .main-container {
        margin-top: 30px;
    }

    h1 {
        font-size: 47px !important;
    }
}
