@media only screen and (max-width:1250px) {
    .contacts-slide-bar {
        width: 24em;
        padding-left: 1em;
        padding-right: 1em;
    }

    .contacts-right-div {
        padding-left: 2em;
    }

    .contacts-head span {
        font-size: 1.3em;
        margin-bottom: 1em;
    }

    .contacts-head h1 {
        font-size: 3em;
        margin-bottom: 0.4em;
    }

    .big-card-name-div {
        margin-left: 1.5em;
    }

    .big-card-name {
        font-weight: 400;
        font-size: 2em;
    }

    .contact-initials-big {
        width: 6em;
        height: 6em;
    }

    .contact-initials-big span {
        font-weight: 400;
        font-size: 2.2em;
    }
}

@media only screen and (max-width:992px) {
    .contacts-slide-bar {
        width: 30em;
        padding-left: 3em;
        padding-right: 3em;
    }

    .contact-created-message {
        z-index: 1;
        left: 2em;
    }

    .edit-contact {
        display: none;
    }

    .mobile-edit-contact-btn {
        background-image: url('../../assets/img/pencil-btn-default.svg');
        background-repeat: no-repeat;
        width: 4em;
        height: 4em;
        position: absolute;
        right: 1em;
        bottom: 1em;
    }

    .mobile-d-none {
        display: none;
    }

    header {
        z-index: 1;
    }

    .slide-bar-scroll {
        display: flex;
        flex-direction: column;
        background-color: white;
        align-items: center;
        margin-left: 0em;
    }

    .contacts-slide-bar {
        position: relative;
        margin-bottom: 5em;
    }

    .mobile-button-div {
        background-color: white;
        display: block;
        position: sticky;
        top: 0em;
        height: 4.5em;
    }

    .new-contact-mobile {
        bottom: 0em;
        top: 1em;
        right: 1em;
        display: block;
    }

    .contacts-right-div {
        position: absolute;
        top: 0em;
        bottom: 5em;
        left: 0em;
        right: 0em;
        background-color: white;
        padding: 2em;
    }

    .mobile-arrow-left {
        cursor: pointer;
        display: block;
        position: absolute;
        right: 3em;
        top: 6em;
        height: 2em;
        width: 2em;
    }

    .right-div-mobile {
        display: none;
    }

    .contacts-slide-bar {
        box-shadow: 4px 0 9px -6px rgba(0, 0, 0, 0.103), -4px 0 9px -6px rgba(0, 0, 0, 0.148);
    }

    .contacts-outer-div {
        flex-direction: column;
        margin-left: 0em;
    }

}

@media(max-width:820px) {
    .kanban-mobile-span {
        display: block;
    }

    .contacts-big-card {
        padding: 1em;
        margin-top: 1em;
    }

    .contacts-head {
        flex-direction: column;
        align-items: flex-start;
    }

    .contacts-bar-img {
        display: none;
    }

    .mobile-blue-bar {
        display: block;
    }


}

@media(max-width:640px) {

    .slide-bar-scroll {
        width: 100vw;
        height: 100vh;
    }

    .contacts-slide-bar {
        width: 20em;
        box-shadow: none;
        padding-left: 0em;
        padding-right: 0em;
        overflow: visible;
    }

    .slide-bar-scroll::-webkit-scrollbar {
        display: none;
    }


}

@media(max-width:440px) {
    .mobile-button-div {
        height: 3.4em;
    }

    .new-contact-mobile {
        top: 0.5em;
        height: 3em;
        padding: 0.5em 0.5em !important;
    }

    .btn-settings {
        gap: 5px;
        font-size: 1.3em;
    }

    .btn-settings img {
        width: 1.6em;
    }

    .big-card-info {
        margin-top: 1.5em;
    }

    .big-card-name-div {
        margin-left: 1em;
    }

    .big-card-name {
        font-size: 1.5em;
    }

    .big-card-mail-phone {
        margin-top: 1.5em;
    }

    .contact-initials-big {
        width: 4em;
        height: 4em;
    }

    .contact-initials-big span {
        font-size: 1.2em;
    }

    .cards-div-letter {
        font-size: 1em;
    }

    .contact-card-info div {
        font-size: 1em;
    }

    .mobile-edit-contact-btn {
        background-size: 3em;
        height: 3em;
        width: 3em;
        cursor: pointer;
    }
}

@media (max-width:400px) {
    .contacts-outer-div {
        margin-top: 0.7em;
    }

    .contacts-slide-bar {
        margin-bottom: 0em;
    }

    .contacts-right-div {
        bottom: 0em;
    }

    .mobile-arrow-left {
        top: 2em;
        right: 2em;
    }
}