@media(max-width:992px) {
    .main {
        padding-right: 0px;
        padding-left: 30px;
    }

    .detail-view {
        font-size: 16px !important;
        padding: 30px;
    }

    h1 {
        font-size: 2em !important;
    }

    .main-add-task {
        padding-left: 0;
        padding-right: 0;
    }

    .add-task-btn-mobile {
        cursor: pointer;
        background-image: url(../../assets/img/add-task-btn-mobile.svg);
        background-repeat: no-repeat;
        background-size: 2em;
        width: 2em;
        height: 2em;
    }

    .add-task-btn-mobile:active {
        background-image: url(../../assets/img/add-task-btn-mobile-blue.svg);
        background-repeat: no-repeat;

    }

    .add-task-btn {
        background-image: none;
        width: 0em;
        height: 0em;
    }

    .board-head-div {
        align-items: flex-start;
        flex-direction: column;
    }

    h1 {
        font-size: 3em;
    }

    .mobile-headline-div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 20px 0;
    }

    .board-input-div {
        height: 3em;
    }

    .board-input {
        padding: 0.6em 1em;
        width: 15em;
    }

    .input-img {
        top: 0.4em;
    }

    .cards-slide-div {
        height: calc(100vh - 414px)
    }

    .cards-div {
        padding: 0em;
    }

    .cards-category {
        margin-bottom: 1em;
    }

    .cards-category span {
        font-size: 1em;
    }

    .plus-btn {
        width: 1.5em;
        height: 1.5em;
        background-size: 1.5em;
    }

    .card {
        margin-bottom: 1.2em;
    }

    .kanban-mobile-span {
        display: block;
        margin-top: 2em;
    }

    .board {
        padding-right: 30px;
    }

    .slide-board-scroll::-webkit-scrollbar {
        display: none;
    }

    .move-btn {
        display: inline;
    }
}

@media(max-height:985px) {
    .center-new-task-card {
        align-items: start;
    }
}

@media(max-width:820px) {
    .board-outer-div {
        padding-top: 0px;
    }

    .board {
        padding-left: 0em;

    }

    header {
        z-index: 2;
    }

    .shadow-screen {
        z-index: 1;
    }

    .detail-view {
        height: calc(100vh - 163px);
        width: 100vw;
        border-radius: 0px;
    }

    .detail-view-category {
        display: flex;
        justify-content: space-between;
    }

    .icon-settings {
        display: none;
    }

    .detail-view-arrow {
        display: block;
        width: 33px;
    }


}

@media(max-width:610px) {
    .mobile-menu {
        z-index: 2;
    }

    .content {
        overflow: auto;
        /*height: calc(100vh - 173px);*/
    }

    .cards-slide-div {
        overflow: visible;
    }

    .board {
        padding-bottom: 1em;
        position: sticky;
        top: 0em;
        background-color: #f5f5f5;
        z-index: 1;
    }

    .cards-div {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .cards-slide-div {
        height: calc(100vh - 360px)
    }

    .cards-column-main {
        margin-left: 0px;
        width: 363px;
    }

    .card-column {
        min-height: 205px;
        width: 100%;
    }

    .category-styling {
        font-size: 18px;
        padding: 7px 37px;
    }

    .detail-view-title {
        font-size: 36px;
    }

    .priority-detail-view {
        width: 97px;
        height: 40px;
    }

    .detail-view-edit-btn {
        width: 40px;
        height: 40px;
    }

    .delete-btn-board {
        height: 40px;
    }

    .move-btn {
        height: 40px;
        padding: 1px 16px;
    }

    .mobile-move {
        top: -190px;

    }
}

@media(max-width:450px) {
    .main {
        padding-left: 30px;
    }

    .board {
        padding-right: 30px;
    }

    .cards-column-main {
        width: 100%;
        padding-right: 30px;
    }
}