<head>
    <link rel="stylesheet" href="../forgot_password.css">
    <script src="../script.js"></script>
</head>

<div class="mainContainer">
    <div class="forgotPassword" id="forgotPassword">
        <a onclick="openLoginFromForgotPasswort()">
            <img id="back-arrow" src="../assets/img/back-arrow.svg">
        </a>
        <h2>I forgot my password</h2>
        <img src="../assets/img/blue_underline.png">
        <span>Don't worry! We will send you an email with the instructions to reset your password.</span>
        <form class="resetForm" action="https://gruppe-436.developerakademie.net/send_mail.php" method="POST"
            onsubmit="return sendMail()">
            <input id="resetEmailInput" name="mail" title="Email Adresse ungültig oder nicht gefunden!" type="email"
                required placeholder="Email" autocomplete="email"
                pattern="(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|\u0022(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*\u0022)@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])">
            <button>reset Password</button>
        </form>
    </div>
    <!--
    <div class="mainContainer-reset" id="mainContainer-reset" style="display: none;">
        <div class="forgotPassword" id="forgotPassword">
            <a href="../index.html">
                <img id="back-arrowReset" src="../assets/img/back-arrow.svg">
            </a>
            <h2>Reset your Password</h2>
            <img src="../assets/img/blue_underline.png">
            <span>Change your account password</span>
            <form class="resetFormPW" onsubmit="resetPassword(); return false">
                
                <input type="email" name="email" autocomplete="email" style="display:none">
                <input id="resetPWInput" type="password" required placeholder="New password"
                    autocomplete="new-password">
                <input id="resetPWInputConf" type="password" required placeholder="confirm password"
                    autocomplete="new-password">
                <button id="forgotBtn">reset Password</button>
            </form>
        </div>

    </div>-->

</div>