<head>
    <link rel="stylesheet" href="../forgot_password.css">
    <script src="../script.js"></script>
</head>

<div class="mainContainer">
    <div class="forgotPassword" id="forgotPassword">
        <a href="../index.html">
            <img id="back-arrow" src="../assets/img/back-arrow.svg">
        </a>
        <h2>I forgot my password</h2>
        <img src="../assets/img/blue_underline.png">
        <span>Don't worry! We will send you an email with the instructions to reset your password.</span>
        <form class="resetForm" onsubmit="sendMail();return false">
            <input id="resetEmailInput" title="Email Adresse ungültig oder nicht gefunden!" type="email" required
                placeholder="Email" autocomplete="email">
            <button>reset Password</button>
        </form>
    </div>

    <div class="mainContainer-reset" id="mainContainer-reset" style="display: none;">
        <div class="forgotPassword" id="forgotPassword">
            <a href="../index.html">
                <img id="back-arrowReset" src="../assets/img/back-arrow.svg">
            </a>
            <h2>Reset your Password</h2>
            <img src="../assets/img/blue_underline.png">
            <span>Change your account password</span>
            <form class="resetFormPW" onsubmit="resetPassword(); return false">
                <!--hidden input field, to get rid of Chrome Warning-->
                <input type="email" name="email" autocomplete="email" style="display:none">
                <input id="resetPWInput" type="password" required placeholder="New password"
                    autocomplete="new-password">
                <input id="resetPWInputConf" type="password" required placeholder="confirm password"
                    autocomplete="new-password">
                <button id="forgotBtn">reset Password</button>
            </form>
        </div>

    </div>

</div>