<head>
    <link rel="stylesheet" href="../forgot_password.css">
    <script src="../script.js"></script>
</head>

<div class="mainContainer">
    <div class="forgotPassword" id="forgotPassword">
        <a href="../index.html">
            <img id="back-arrow" src="../img/back-arrow.svg">
        </a>
        <h2>I forgot my password</h2>
        <img src="../img/blue_underline.png">
        <span>Don't worry! We will send you an email with the instructions to reset your password.</span>
        <form class="resetForm" onsubmit="sendMail()">
            <input id="resetEmailInput" type="Gib deine Emailadresse ein" type="email" required placeholder="Email">
            <button>reset Password</button>
        </form>
    </div>
    
</div>