<header>
    <div class="header-heading">
        <span>Kanban Project Management Tool</span>
        <img class="header-mobile-logo" src="./assets/img/mobile_logo.svg" alt="mobil main logo">
    </div>
    <div class="icons-header">
        <a href="help.html">
            <img src="./assets/img/help.svg" alt="button for help">
        </a>
        <img src="./assets/img/avatar.svg" alt="picture of the user" onclick="toggleMobileMenu()">
    </div>
    <div id="submit-button" class="submit-button-header" onclick="createNewTask()">
    </div>
</header>

<div id="mobileMenu" class="mobile-menu hide">
    <a href="help.html">Help</a>
    <a href="legal_notice.html">Legal notice</a>
    <a href="index.html">Logout</a>
</div>

<div id="logoutBtn" class="logout-btn hide">
    <a href="index.html">Logout</a>
</div>