<div class="signup">
    <p>Not a Join user?</p>
    <button class="signup_button" onclick="location.href='sign_up.html'">Sign up</button>
</div>
<div class="login-container fade-in-login">
    <h1>Log in</h1>
    <img src="./img/blue_underline.png" id="blue_underline">
    <div class="credentials">
        <input type="text" name="email" type="email" placeholder="Email" required>
        <input type="text" name="password" type="password" placeholder="Password" required>
    </div>
    <div class="remember_me_forgotten">
        <div class="remember_me">
            <input class="checkbox" type="checkbox" id="remember-me" name="remember-me">
            <label for="remember-me">Remember me</label>
        </div>
        <a class="password_forgotten" href="./forgot_password.html">Forgot my password</a>
    </div>
    <div class="login_form_buttons">
        <button type="submit" class="login_button">Log in</button>
        <button class="guest_button" id="guest_button" onclick="guestLogin()">Guest Log in</button>
    </div>
    <div id="error-login" class="error-login"></div>
</div>

