<div id="content-new-task" class="content-new-task new-task-card">
    <div id="mobile-description" class="mobile-description">Kanban Project Management Tool</div>
    <h1>Add Task</h1>
    <img onclick="hideNewTaskCard('')" id="new-task-close-btn" class="close-new-task d-none"
        src="assets/img/close_new_task_button.svg" alt="close">
    <form class="new-task-form" onsubmit="addToTasks()">

        <!-- LEFT COLUMN -->
        <div class="column">

            <!-- TITLE -->
            <div class="field-container">
                <label class="label" for="title">Title</label>
                <input type="text" id="title" name="title" placeholder="Enter a title" maxlength="25" required>
                <span class="alert-required" id="title-required">Please enter a title first</span>
            </div>

            <!-- DESCRIPTION -->
            <div class="field-container">
                <label class="label" for="description">Description</label>
                <textarea type="text" id="description" name="description" placeholder="Enter a Description"
                    required></textarea>
                <span class="alert-required" id="description-required">Please describe the task</span>
            </div>

            <!-- SELECT CATEGORY -->
            <div class="field-container">
                <span class="label">Category</span>
                <div id="new-category-container" class="field-container d-none">
                    <input type="text" id="new-category" name="new-category" class="d-none"
                        placeholder="New category name" maxlength="25">
                    <img class="new-category-icon left-pos" src="assets/img/close_new_task_button.svg"
                        onclick="closeNewCategory()">
                    <div class="border-small mid-pos"></div>
                    <img id="create-category-icon" class="new-category-icon right-pos" src="assets/img/confirm.svg"
                        onclick="addNewCategory()">
                </div>
                <div id="color-selection-container" class="color-selection-container d-none">
                </div>
                <div id="category-options-container" class="options-container">
                    <div class="option">
                        <div id="select-category-container" class="select-container" onclick="openDropdownCategory()">
                            <div id="category" class="selected-category"><span>Select task category</span></div><img
                                class="dropdown-arrow" src="assets/img/arrow_select_dropdown.svg">
                        </div>
                    </div>
                    <div id="options-category" class="options">
                        <div id="create-new-category" class="option d-none selectable" onclick="createNewCategory()">
                            <span>New Category</span>
                        </div>
                        <div id="category-options">

                        </div>
                    </div>
                </div>
                <span class="alert-required" id="category-required">Please enter a category name first</span>
            </div>

            <!-- ASSIGN TO -->
            <div class="field-container">
                <span class="label">Assign to</span>
                <div id="new-contact-container" class="field-container d-none">
                    <input type="text" id="new-contact" name="new-contact" class="d-none" placeholder="Contact email">
                    <img class="new-category-icon left-pos" src="assets/img/close_new_task_button.svg"
                        onclick="closeInviteContact()">
                    <div class="border-small mid-pos"></div>
                    <img id="invite-contact-icon" class="new-category-icon right-pos" src="assets/img/confirm.svg"
                        onclick="inviteContact()">
                </div>
                <div id="contact-options-container" class="options-container">
                    <div class="option">
                        <div id="select-contact-container" class="select-container"
                            onclick="openDropdownAssignment('')">
                            <span>Select contacts to assign</span><img class="dropdown-arrow"
                                src="assets/img/arrow_select_dropdown.svg">
                        </div>
                    </div>
                    <div id="options-contact" class="options">
                        <div id="contacts-dropdown-container">
                        </div>
                        <div id="invite-new-contact"
                            class="option d-none selectable checkbox-container space-between last-option"
                            onclick="inviteNewContact()">
                            <span>Invite new contact</span><img src="assets/img/invite_contact.svg">
                        </div>
                    </div>
                </div>
                <span class="alert-required" id="assignment-required">Please assign at least one contact</span>
                <div id="assignments-icons-container" class="assignments-icons-container">
                </div>
            </div>
        </div>

        <!-- BORDER -->
        <div class="border"></div>

        <!-- RIGHT COLUMN -->

        <div class="column">

            <!-- DUE DATE -->
            <div class="field-container">
                <span class="label">Due date</span>
                <input id="date" type="date" max="2999-12-31">
                <span class="alert-required" id="date-required">Please select date first</span>
            </div>

            <!-- PRIO -->
            <div class="field-container">
                <span class="label">Prio</span>
                <div class="prio-box">
                    <img id="prio-urgent" class="prio-urgent" src="assets/img/urgent_big.svg"
                        onclick="taskIsUrgent('urgent', 'urgent_big', 'medium', 'low', '')"
                        onmouseover="hover('urgent', 'urgent_big')" onmouseout="leave('urgent', 'urgent_big')">
                    <img id="prio-medium" class="prio-medium" src="assets/img/medium_big.svg"
                        onclick="taskIsMedium('medium', 'medium_big', 'low', 'urgent', '')"
                        onmouseover="hover('medium', 'medium_big')" onmouseout="leave('medium', 'medium_big')">
                    <img id="prio-low" class="prio-low" src="assets/img/low_big.svg"
                        onclick="taskIsLow('low', 'low_big', 'urgent', 'medium', '')"
                        onmouseover="hover('low', 'low_big')" onmouseout="leave('low', 'low_big')">
                </div>
                <span class="alert-required" id="priority-required">Please select priority first</span>
            </div>

            <!-- ADD SUBTASK -->
            <div class="field-container">
                <label class="label" for="subtask">Subtasks</label>
                <div class="new-subtask-container">
                    <input type="text" id="subtask" name="subtask" placeholder="Add new subtask"
                        onclick="createNewSubtask()">
                    <img id="icon-plus" class="new-category-icon right-pos-no-filter" src="assets/img/icon_plus.svg">
                    <img id="close-subtask-icon" class="new-category-icon left-pos d-none"
                        src="assets/img/close_new_task_button.svg" onclick="closeNewSubtask()">
                    <div id="border-small" class="border-small mid-pos d-none"></div>
                    <img id="create-subtask-icon" class="new-category-icon right-pos d-none"
                        src="assets/img/confirm.svg" onclick="addNewSubtask()">
                </div>
                <div id="subtasks"></div>
            </div>

        </div>
        <div class="button-container">
            <div id="clear-form" class="cancel-form" onclick="clearAllInputFields(),hideNewTaskCard()">
            </div>
            <div id="submit-button" class="submit-button" onclick="createNewTask()">
            </div>
            <img id="task-added-to-board" class="task-added-to-board d-none" src="assets/img/task_added_to_board.svg">
        </div>
    </form>
</div>