<div class="content-new-task">
    <h1>Add Task</h1>
    <form class="new-task-form">
        <div class="column">
            <div class="field-container">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" placeholder="Enter a title" required>
                <span>This field is required</span>
            </div>
            <div class="field-container">
                <label for="description">Description</label>
                <textarea type="text" id="description" name="description" placeholder="Enter a Description" required></textarea>
                <span id="title-required">This field is required</span>
            </div>
        </div>
        <div class="border"></div>
        <div class="column"></div>
    </form>
</div>