<aside class="sidebar">
    <a href="summary.html">
        <img src="./assets/img/logo.svg" alt="Main logo of the project" class="main-logo">
    </a>
    <div class="navigation-container" >
        <a href="summary.html" class="navigation-point" id="summary">
            <div class="center-icons">
                <img src="./assets/img/summary.svg" alt="icon of the summary" class="icon-sidebar">
            </div>
            <div>Summary</div>
        </a>
        <a href="board.html" class="navigation-point" id="board">
            <div class="center-icons">
                <img src="./assets/img/board.svg" alt="" class="icon-sidebar">
            </div>
            <div>Board</div>
        </a>
        <a href="add_task.html" class="navigation-point" id="add_task">
            <div class="center-icons">
                <img src="./assets/img/task.svg" alt="" class="icon-sidebar">
            </div>
            <div>Add Task</div>
        </a>
        <a href="contacts.html" class="navigation-point" id="contacts">
            <div class="center-icons">
                <img src="./assets/img/contacts.svg" alt="" class="icon-sidebar">
            </div>
            <div>Contacts</div>
        </a>
    </div>

    <a href="legal_notice.html" class="navigation-point legal-notice" id="legal_notice">
        <div class="center-icons">

            <img src="./assets/img/legalinfo.svg" alt="" class="icon-sidebar">
        </div>
        <div>Legal notice </div>
    </a>
</aside>