<aside>
    <a href="summary.html">
        <img src="./img/logo.png" alt="Main logo of the project" class="main-logo">
    </a>
    <div class="navigation-container">
        <a href="index.html" class="navigation-point">
            <div class="center-icons">
                <img src="./img/summary.png" alt="icon of the summary" class="icon-sidebar">
            </div>
            <div>Summary</div>
        </a>
        <a href="board.html" class="navigation-point">
            <div class="center-icons">
                <img src="./img/board.png" alt="" class="icon-sidebar">
            </div>
            <div>Board</div>
        </a>
        <a href="tasks.html" class="navigation-point">
            <div class="center-icons">
                <img src="./img/task.png" alt="" class="icon-sidebar">
            </div>
            <div>Add Task</div>
        </a>
        <a href="contacts.html" class="navigation-point">
            <div class="center-icons">
                <img src="./img/contacts.png" alt="" class="icon-sidebar">
            </div>
            <div>Contacts</div>
        </a>
    </div>

    <a href="legal.html" class="navigation-point">
        <div class="center-icons">

            <img src="./img/legalinfo.png" alt="" class="icon-sidebar">
        </div>
        <div>Legal notice </div>
    </a>
</aside>