
<link rel="stylesheet" href="../style/signUp.css">

<div class="maincontainer-SignUp">
    <div  id="signUp-container" class="signUp-container">
        <h1>Sign up</h1>
        <img src="../img/blue_underline.png" id="blue_underline">
        <form class="SignUpCredentials" onsubmit="signUp()">
            <input id="name" type="text" name="name" type="name" placeholder="Name" required>
            <input id="email" type="text" name="email" type="email" placeholder="Email" required>
            <input id="password" type="password" name="password" type="password" placeholder="Password" required>
            <button class="signUp_button" id="signUp_button">Sign up</button>
        </form>
    </div>
</div>

