
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign Up</title>
    <link rel="stylesheet" href="../style/signUp.css">
    <script src="../register.js"></script>
</head>
<body>
    <div class="maincontainer-SignUp">
        <img id="joinLogo-SignUp" src="../img/join-logo.png" alt="">
        <div  id="signUp-container" class="signUp-container">
            <a href="../index.html">
                <img id="backArrowSignUp" src="../img/back-arrow.svg">
            </a>
            <h1>Sign up</h1>
            <img src="../img/blue_underline.png" id="blue_underline">
            <form class="SignUpCredentials" onsubmit="register()">
                <input id="name" type="text" name="name" type="name" placeholder="Name" required>
                <input id="email" type="text" name="email" type="email" placeholder="Email" required>
                <input id="password" type="password" name="password" type="password" placeholder="Password" required>
                <button class="signUp_button" id="signUp_button">Sign up</button>
            </form>
        </div>
    </div>
    
</body>
</html>





